<!DOCTYPE html>
<html>

<head>
    <title>DS Lab 4</title>
    <link rel="icon" 
      type="image/png" 
      href="/media/favicon.png">
</head>

<body>
    <p>This meme is looked <b>{{ hit_cnt }}</b> times</p>.
    <img src="/media/meme.jpg" alt="Wonderful meme">
</body>

</html>